.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-size: 13px;
}

.fermer {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.fermer:hover {
    color: black;
}